.card {
  margin: 2rem 1.25rem;
  max-width: 375px;
  background-color: var(--neutral-100);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 650px;
}
.card__content {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 0;
}

.card__img {
  height: 500px;
  border-radius: 15px 15px 0 0;
  background-image: url("/public/image-product-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

.card__content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card__content {
  padding: 1.5rem;
}

.card__content-type {
  color: var(--neutral-500);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: var(--font-size);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.card__content-title {
  color: var(--neutral-900);
  font-family: "Fraunces", serif;
}

.card__content-description {
  color: var(--neutral-500);
  font-size: var(--font-size);
  font-family: "Montserrat", sans-serif;
}

.card__content-prices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 1rem;
  align-items: center;
}

.card__content-price {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.card__content-new {
  color: var(--primary);
  font-size: 2rem;
  font-weight: 700;
  font-family: "Fraunces", serif;
}

.card__content-old {
  color: var(--neutral-500);
  font-size: var(--font-size);
  font-weight: 700;
  font-family: "Fraunces", serif;
  text-decoration: line-through;
}

.card__content-button {
  width: 100%;
  background-color: var(--primary);
  color: var(--neutral-100);
  height: 3rem;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.card__content-button:hover {
  color: var(--primary);
  background-color: var(--neutral-100);
  border: var(--primary) 1px solid;
}

.card__content-button img {
  padding-right: 1em;
}

@media only screen and (min-width: 400px) {
  .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 500px;
    height: 450px;
  }

  .card__content,
  .card__img {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 0;
  }

  .card__img {
    background-image: url("/public/image-product-desktop.jpg");
    height: 100%;
    border-radius: 15px 0 0 15px;
  }

  .card__content-wrapper {
    padding: 2rem;
    justify-content: space-between;
  }
}
