.card {
  margin: 1.25rem 1rem;
  min-height: 70vh;
  width: 100%;
  background-color: var(--neutral-100);
  border-radius: 15px;
}

.card__img {
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.card__content {
  padding: 1rem;
}

.card__content-type {
  color: var(--neutral-500);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: var(--font-size);
  padding-bottom: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.card__content-title {
  color: var(--neutral-900);
  font-family: "Fraunces", serif;
  padding-bottom: 1rem;
}

.card__content-description {
  color: var(--neutral-500);
  font-size: var(--font-size);
  font-family: "Montserrat", sans-serif;
  padding-bottom: 1rem;
}

.card__content-prices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 1rem;
  align-items: center;
}

.card__content-price {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.card__content-new {
  color: var(--primary);
  font-size: 2rem;
  font-weight: 700;
  font-family: "Fraunces", serif;
}

.card__content-old {
  color: var(--neutral-500);
  font-size: var(--font-size);
  font-weight: 700;
  font-family: "Fraunces", serif;
  text-decoration: line-through;
}

.card__content-button {
  width: 100%;
  background-color: var(--primary);
  color: var(--neutral-100);
  height: 3rem;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size);
  font-weight: 700;
}
