.card {
  margin: 1.25rem 1rem;
  min-height: 70vh;
  width: 100%;
  background-color: var(--neutral-100);
  border-radius: 15px;
}

.card__img {
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.card__content {
  padding: 1rem;
}

.card__content-type {
  color: var(--neutral-500);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: var(--font-size);
  padding-bottom: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
